Using a Timewindow

In [1]:
import pandas as pd
from pandas.io import sql
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sqlite3
import pandas_profiling

%matplotlib inline

In [2]:
conn = sqlite3.connect('EuropeanSoccerDatabase/database.sqlite')
query = "SELECT team.id, team.team_api_id, team.team_long_name, match.league_id FROM Team INNER JOIN Match on team.team_api_id = match.home_team_api_id OR team.team_api_id = match.away_team_api_id WHERE Match.league_id = 7809 Group by team_api_id  ;"

Teams = sql.read_sql(query, con=conn, parse_dates="date")

In [3]:
Teams

       id  team_api_id            team_long_name  league_id
0   16850         8152              FC St. Pauli       7809
1   16239         8165            1. FC Nürnberg       7809
2   15626         8177         Hertha BSC Berlin       7809
3   15619         8178       Bayer 04 Leverkusen       7809
4   18074         8194        Fortuna Düsseldorf       7809
5   15630         8226       TSG 1899 Hoffenheim       7809
6   19916         8234          FC Ingolstadt 04       7809
7   19917         8262           SV Darmstadt 98       7809
8   15633         8295             Karlsruher SC       7809
9   16848         8350      1. FC Kaiserslautern       7809
10  18079         8357      SpVgg Greuther Fürth       7809
11  16237         8358               SC Freiburg       7809
12  15629         8398        FC Energie Cottbus       7809
13  17465         8406               FC Augsburg       7809
14  19305         8460           SC Paderborn 07       7809
15  15628         8697          SV Werder Bremen       7809
16  15623         8721             VfL Wolfsburg       7809
17  15624         8722                1. FC Köln       7809
18  18691         9776    Eintracht Braunschweig       7809
19  15631         9788  Borussia Mönchengladbach       7809
20  15620         9789         Borussia Dortmund       7809
21  15618         9790              Hamburger SV       7809
22  15625         9810       Eintracht Frankfurt       7809
23  15617         9823          FC Bayern Munich       7809
24  15622         9904               Hannover 96       7809
25  16243         9905           1. FSV Mainz 05       7809
26  15634         9911                VfL Bochum       7809
27  15627         9912     DSC Arminia Bielefeld       7809
28  15621        10189             FC Schalke 04       7809
29  15632        10269             VfB Stuttgart       7809

In [4]:
id_homeTeam = 9789
id_awayTeam = 9823
Matchdate = np.datetime64('2009-11-04')

In [5]:
conn = sqlite3.connect('EuropeanSoccerDatabase/database.sqlite')
query = "SELECT home_team_api_id, away_team_api_id, home_team_goal, away_team_goal, B365H, B365D, B365A FROM match WHERE ( home_team_api_id ="+str(id_homeTeam)+" OR away_team_api_id="+str(id_homeTeam)+") AND away_team_api_id !="+ str(id_awayTeam) + " AND date <'"+ str(Matchdate)+"' ORDER BY date DESC LIMIT 10 ;"

bundesliga_matchs_homeTeam = sql.read_sql(query, con=conn, parse_dates="date")

In [6]:
conn = sqlite3.connect('EuropeanSoccerDatabase/database.sqlite')
query = "SELECT home_team_api_id, away_team_api_id, home_team_goal, away_team_goal, B365H, B365D, B365A FROM match WHERE ( home_team_api_id ="+str(id_awayTeam)+" OR away_team_api_id="+str(id_awayTeam)+") AND home_team_api_id !="+str(id_homeTeam) + " AND date <'"+ str(Matchdate)+"' ORDER BY date DESC LIMIT 10;"

bundesliga_matchs_awayTeam = sql.read_sql(query, con=conn, parse_dates="date")

In [7]:
bundesliga_matchs_homeTeam

,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,B365H,B365D,B365A
0,9789,8177,2,0,1.53,4.00,6.00
1,8178,9789,1,1,1.80,3.50,4.50
2,9789,9911,2,0,1.57,3.80,6.00
3,9788,9789,0,1,2.90,3.30,2.38
4,9789,10189,0,1,2.50,3.25,2.80
5,9904,9789,1,1,2.88,3.30,2.40
6,9810,9789,1,1,2.90,3.30,2.40
7,9789,10269,1,1,2.38,3.40,2.90
8,9790,9789,4,1,2.05,3.40,3.60
9,9789,8722,1,0,1.62,3.75,5.50

In [8]:
bundesliga_matchs_awayTeam

,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,B365H,B365D,B365A
0,10269,9823,0,0,4.50,3.50,1.80
1,9823,9810,2,1,1.25,5.50,12.00
2,8358,9823,1,2,6.00,3.80,1.57
3,9823,8722,0,0,1.22,6.50,11.00
4,9790,9823,1,0,3.10,3.40,2.25
5,9823,8165,2,1,1.17,7.00,16.00
6,9823,8721,3,0,1.83,3.75,4.00
7,9905,9823,2,1,7.00,4.33,1.44
8,9823,8697,1,1,1.62,3.75,5.50
9,8226,9823,1,1,4.20,3.40,1.91

In [9]:
bundisliga_matchs = pd.concat([bundesliga_matchs_awayTeam, bundesliga_matchs_homeTeam])

In [10]:
bundisliga_matchs

,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,B365H,B365D,B365A
0,10269,9823,0,0,4.50,3.50,1.80
1,9823,9810,2,1,1.25,5.50,12.00
2,8358,9823,1,2,6.00,3.80,1.57
3,9823,8722,0,0,1.22,6.50,11.00
4,9790,9823,1,0,3.10,3.40,2.25
5,9823,8165,2,1,1.17,7.00,16.00
6,9823,8721,3,0,1.83,3.75,4.00
7,9905,9823,2,1,7.00,4.33,1.44
8,9823,8697,1,1,1.62,3.75,5.50
9,8226,9823,1,1,4.20,3.40,1.91
0,9789,8177,2,0,1.53,4.00,6.00
1,8178,9789,1,1,1.80,3.50,4.50
2,9789,9911,2,0,1.57,3.80,6.00
3,9788,9789,0,1,2.90,3.30,2.38
4,9789,10189,0,1,2.50,3.25,2.80
5,9904,9789,1,1,2.88,3.30,2.40
6,9810,9789,1,1,2.90,3.30,2.40
7,9789,10269,1,1,2.38,3.40,2.90
8,9790,9789,4,1,2.05,3.40,3.60
9,9789,8722,1,0,1.62,3.75,5.50

In [11]:
def pointsForHomeTeam(row):
    if row['home_team_goal'] > row['away_team_goal']:
        return 3 #win : 3pts
    if row['home_team_goal'] < row['away_team_goal']:
        return 0 #lose : 0pt
    else:
        return 1 #draw : 1pt

def pointsForAwayTeam(row):
    if row['home_team_goal'] < row['away_team_goal']:
        return 3 #win : 3pts
    if row['home_team_goal'] > row['away_team_goal']:
        return 0 #lose : 0pt
    else:
        return 1 #draw : 1pt

In [12]:
bundisliga_matchs

,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,B365H,B365D,B365A
0,10269,9823,0,0,4.50,3.50,1.80
1,9823,9810,2,1,1.25,5.50,12.00
2,8358,9823,1,2,6.00,3.80,1.57
3,9823,8722,0,0,1.22,6.50,11.00
4,9790,9823,1,0,3.10,3.40,2.25
5,9823,8165,2,1,1.17,7.00,16.00
6,9823,8721,3,0,1.83,3.75,4.00
7,9905,9823,2,1,7.00,4.33,1.44
8,9823,8697,1,1,1.62,3.75,5.50
9,8226,9823,1,1,4.20,3.40,1.91
0,9789,8177,2,0,1.53,4.00,6.00
1,8178,9789,1,1,1.80,3.50,4.50
2,9789,9911,2,0,1.57,3.80,6.00
3,9788,9789,0,1,2.90,3.30,2.38
4,9789,10189,0,1,2.50,3.25,2.80
5,9904,9789,1,1,2.88,3.30,2.40
6,9810,9789,1,1,2.90,3.30,2.40
7,9789,10269,1,1,2.38,3.40,2.90
8,9790,9789,4,1,2.05,3.40,3.60
9,9789,8722,1,0,1.62,3.75,5.50

In [13]:
bundisliga_matchs['home_team_earned_points'] = bundisliga_matchs.apply(lambda row: pointsForHomeTeam(row), axis=1)
bundisliga_matchs['away_team_earned_points'] = bundisliga_matchs.apply(lambda row: pointsForAwayTeam(row), axis=1)
bundisliga_matchs

,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,B365H,B365D,B365A,home_team_earned_points,away_team_earned_points
0,10269,9823,0,0,4.50,3.50,1.80,1,1
1,9823,9810,2,1,1.25,5.50,12.00,3,0
2,8358,9823,1,2,6.00,3.80,1.57,0,3
3,9823,8722,0,0,1.22,6.50,11.00,1,1
4,9790,9823,1,0,3.10,3.40,2.25,3,0
5,9823,8165,2,1,1.17,7.00,16.00,3,0
6,9823,8721,3,0,1.83,3.75,4.00,3,0
7,9905,9823,2,1,7.00,4.33,1.44,3,0
8,9823,8697,1,1,1.62,3.75,5.50,1,1
9,8226,9823,1,1,4.20,3.40,1.91,1,1
0,9789,8177,2,0,1.53,4.00,6.00,3,0
1,8178,9789,1,1,1.80,3.50,4.50,1,1
2,9789,9911,2,0,1.57,3.80,6.00,3,0
3,9788,9789,0,1,2.90,3.30,2.38,0,3
4,9789,10189,0,1,2.50,3.25,2.80,0,3
5,9904,9789,1,1,2.88,3.30,2.40,1,1
6,9810,9789,1,1,2.90,3.30,2.40,1,1
7,9789,10269,1,1,2.38,3.40,2.90,1,1
8,9790,9789,4,1,2.05,3.40,3.60,3,0
9,9789,8722,1,0,1.62,3.75,5.50,3,0

In [65]:
filt1 = (bundisliga_matchs['away_team_api_id'] == id_homeTeam)
away_team_points = bundisliga_matchs[filt1].groupby('away_team_api_id').sum()[['away_team_earned_points']]

blub1 = away_team_points.iloc[0,0]

filt2 = (bundisliga_matchs['home_team_api_id'] == id_homeTeam)
home_team_points = bundisliga_matchs[filt2].groupby('home_team_api_id').sum()[['home_team_earned_points']]

blub2 = home_team_points.iloc[0,0]

pointsHomeTeam = blub1 + blub2

filt3 = (bundisliga_matchs['away_team_api_id'] == id_awayTeam)
away_team_points = bundisliga_matchs[filt3].groupby('away_team_api_id').sum()[['away_team_earned_points']]

blub1 = away_team_points.iloc[0,0]

filt4 = (bundisliga_matchs['home_team_api_id'] == id_awayTeam)
home_team_points = bundisliga_matchs[filt4].groupby('home_team_api_id').sum()[['home_team_earned_points']]

blub2 = home_team_points.iloc[0,0]

pointsAwayTeam = blub1 + blub2

In [68]:
pointsAwayTeam
pointsHomeTeam

16

In [30]:
iJTeamPts = pd.merge(away_team_points,home_team_points, left_index=True, right_on='home_team_api_id')
iJTeamPts.head()

Empty DataFrame
Columns: [away_team_api_id, away_team_earned_points, home_team_api_id, home_team_earned_points]
Index: []

In [31]:
testi = pd.merge(away_team_points, home_team_points, how='outer', on=[ 'home_team_api_id','away_team_api_id'])

KeyError: 'home_team_api_id'

In [ ]:
def sumToColumns(row):
    return row['home_team_earned_points'] + row['away_team_earned_points']

iJTeamPts['team_points'] = iJTeamPts.apply(lambda row: sumToColumns(row), axis=1)
iJTeamPts

In [ ]:
iJTeamPts = pd.merge(home_team_points,away_team_points, left_index=True, right_on='away_team_api_id')
iJTeamPts

In [ ]:
def sumToColumns(row):
    return row['home_team_earned_points'] + row['away_team_earned_points']

In [ ]:
iJTeamPts['team_points'] = iJTeamPts.apply(lambda row: sumToColumns(row), axis=1)
iJTeamPts

In [ ]:
bundisliga_team = Teams.set_index('team_api_id')
bundisliga_team.head()

In [ ]:
iJBundisligaTeamWithMatchs = pd.merge(bundisliga_team, iJTeamPts, left_index=True, right_on='away_team_api_id')
iJBundisligaTeamWithMatchs

In [ ]:
teamNameAndPts = iJBundisligaTeamWithMatchs.iloc[:, [0,1,2,5]]
teamNameAndPts.head()

In [ ]:
rankingOfTeams = teamNameAndPts.sort_values('team_points', ascending=False)
rankingOfTeams

In [ ]:
# Create a new column that is the rank of the value of coverage in ascending order
rankingOfTeams['rankingVal'] = rankingOfTeams['team_points'].rank(ascending=1)
rankingOfTeams

In [ ]:
rankingOfTeams.iloc[0,4]

In [ ]:
teams_mapping = {rankingOfTeams.iloc[0,0]: rankingOfTeams.iloc[0,4],
                  rankingOfTeams.iloc[1,0]: rankingOfTeams.iloc[1,4],
                  rankingOfTeams.iloc[2,0]: rankingOfTeams.iloc[2,4],
                  rankingOfTeams.iloc[3,0]: rankingOfTeams.iloc[3,4]
                 #rankingOfTeams.iloc[4,0]: rankingOfTeams.iloc[4,5],
                  }
teams_mapping

In [ ]:
bundisliga_matchs['home_team_api_id'] = bundisliga_matchs['home_team_api_id'].map(teams_mapping)
bundisliga_matchs['away_team_api_id'] = bundisliga_matchs['away_team_api_id'].map(teams_mapping)

bundisliga_matchs

In [ ]:
from sklearn.model_selection import train_test_split
X, y = bundisliga_matchs.iloc[:, 3:].values, bundisliga_matchs.iloc[:, 1:3].values 
# X:  features: season, home_team_goal, away_team_goal
# y: class label : home_team_earned_points 	away_team_earned_points
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
feat_labels = bundisliga_matchs.columns[1:]
forest = RandomForestClassifier(n_estimators=10000,
                                random_state=0,
                                n_jobs=-1)
forest.fit(X_train, y_train)
importances = forest.feature_importances_
indices = np.argsort(importances)[::-1]
for f in range(X_train.shape[1]):
    print("%2d) %-*s %f" % (f + 1, 30,
                            feat_labels[f],
                            importances[indices[f]]))